// COLORS =============================================================
$color-black: #1D1D1D; // ratio AAA with white
$color-grey-dark: #595959; // ratio AAA with white
$color-grey-light: #E5E5E5; // ratio AAA with black
$color-white: #FFFFFF; // ratio AAA with black


// VIEWPORTS ==========================================================
$viewport: 576px;
$viewport-md: 768px;
$viewport-lg: 992px;
$viewport-xl: 1200px;
